@model ReederPortal.Models.Birim
@{
    ViewData["Title"] = "BirimGetir";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

@using (Html.BeginForm("BirimGuncelle", "Default", FormMethod.Post))
{
    <b>Departman ID</b>
    @Html.TextBoxFor(x => x.BirimID, new { @class = "form-control" })

    <br />

    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.BirimAd, new { @class = "form-control" })

    <br />
    <button class="btn btn-default" style="background-color:cornflowerblue"> Departman Güncelle </button>
}



